.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: italic;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: #FFFFFF;
}

img {
  display: block;
  max-width: 100%;
  border: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #222222;
}

.top {
  overflow: hidden;
}

.heading {
  background-color: #F8F3F4;
}
.heading__content {
  padding-bottom: 60px;
  padding-top: 60px;
}
.heading__content_title h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 28.8px;
  color: #F16D7F;
}

.list {
  display: flex;
  gap: 128px;
  padding-top: 96px;
  padding-bottom: 128px;
  align-items: normal;
}

.cart {
  display: flex;
  flex-direction: column;
  width: 734px;
  position: relative;
}
.cart__context {
  display: flex;
}
.cart__item {
  display: flex;
  margin-bottom: 40px;
  height: 306px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.1294117647);
  justify-content: space-between;
}
.cart__item_btn {
  position: relative;
  padding-top: 22px;
  padding-right: 22px;
}
.cart__item_btn:hover {
  fill: #F16D7F;
}
.cart__text {
  padding-top: 22px;
  background-color: #FFFFFF;
  padding-left: 31px;
}
.cart__text_price {
  color: #F16D7F;
}
.cart__text_box {
  display: flex;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26.4px;
  color: #575757;
  padding-bottom: 6px;
}
.cart__text_count {
  height: 25px;
  width: 44px;
  margin-left: 24px;
  border: 1px solid #EAEAEA;
  padding-left: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21.6px;
  color: #575757;
}
.cart__text h3 {
  width: 262px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 28.8px;
  color: #222222;
  padding-bottom: 42px;
}
.cart__text p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26.4px;
  color: #575757;
  padding-bottom: 6px;
}
.cart__btn {
  display: flex;
  justify-content: space-between;
}
.cart__btn_clear {
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #000000;
  padding: 17px 40px;
}
.cart__btn_clear:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
}
.cart__btn_cont {
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #000000;
  padding: 17px 40px;
}
.cart__btn_cont:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
}

.bill {
  display: flex;
  gap: 57px;
  flex-direction: column;
  width: 360px;
}
.bill__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bill__info_inputExampl {
  height: 45px;
  border: 1px solid #A4A4A4;
  color: #B1B1B1;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 15.6px;
  padding-left: 17px;
}
.bill__info_inputExampl::-moz-placeholder {
  color: #B1B1B1;
}
.bill__info_inputExampl::placeholder {
  color: #B1B1B1;
}
.bill__info_input {
  height: 45px;
  border: 1px solid #A4A4A4;
  color: #B1B1B1;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 15.6px;
  padding-left: 17px;
}
.bill__info_input::-moz-placeholder {
  color: #222222;
}
.bill__info_input::placeholder {
  color: #222222;
}
.bill__info_btn {
  height: 35px;
  width: 102px;
  border: 1px solid #A4A4A4;
  color: #4A4A4A;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  line-height: 13.2px;
  padding: 11px 14px;
  background-color: #FFFFFF;
}
.bill__info_btn:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFFFFF;
}
.bill__info h2 {
  color: #222222;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19.2px;
}
.bill__total {
  background-color: #F5F3F3;
  padding-top: 39px;
  padding-bottom: 42px;
}
.bill__total_price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.bill__total_price-fnl {
  color: #F16D7F;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 19.2px;
}
.bill__total_line {
  border: 1px solid #E2E2E2;
  margin-left: 43px;
  margin-right: 43px;
  margin-bottom: 17px;
}
.bill__total_btn {
  margin-left: 43px;
  margin-right: 43px;
  border: none;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19.2px;
  padding: 15px 42px;
  background-color: #F16D7F;
}
.bill__total_btn:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
}
.bill__total_price h3 {
  color: #4A4A4A;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  line-height: 13.2px;
  padding-bottom: 12px;
  padding-right: 34px;
}
.bill__total_price h2 {
  color: #222222;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19.2px;
  padding-bottom: 21px;
  padding-right: 37px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 734px;
  }
  .heading__content {
    padding-left: 16px;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 128px;
    padding-top: 59px;
    padding-bottom: 128px;
    align-items: normal;
  }
  .cart {
    width: 734px;
    position: unset;
  }
  .cart__text {
    padding-right: 137px;
  }
  .cart__item_btn {
    position: unset;
  }
  .cart__btn {
    justify-content: center;
    gap: 48px;
    margin-top: 22px;
  }
  .bill {
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: flex-start;
    width: 734px;
  }
  .bill__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 360px;
  }
  .bill__total {
    width: 360px;
    margin-top: 39px;
  }
  .bill__total_btn {
    margin-left: 42px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 360px;
  }
  .heading {
    box-sizing: border-box;
    min-width: 320px;
  }
  .heading__content {
    display: flex;
    justify-content: center;
  }
  .list {
    box-sizing: border-box;
    gap: 48px;
    padding-top: 39px;
    padding-bottom: 96px;
    align-items: normal;
    flex-direction: column;
    min-width: 320px;
  }
  .cart {
    box-sizing: border-box;
    width: 320px;
    position: unset;
  }
  .cart__item {
    box-sizing: border-box;
    width: 320px;
    margin-bottom: 30px;
    height: 188px;
  }
  .cart__item_btn {
    padding-top: 17px;
    padding-right: 9px;
    position: unset;
    width: 10px;
    height: 10px;
  }
  .cart__item img {
    height: 188px;
  }
  .cart__item svg {
    height: 10px;
    width: 10px;
  }
  .cart__text {
    padding-top: 13px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .cart__text_price {
    color: #F16D7F;
  }
  .cart__text_box {
    font-size: 14px;
    line-height: 16.8px;
  }
  .cart__text_count {
    height: 15px;
    width: 25px;
    margin-left: 9px;
    padding-left: 15px;
    font-size: 10px;
    line-height: 12px;
    color: #656565;
  }
  .cart__text h3 {
    width: 144px;
    font-size: 16px;
    line-height: 19.2px;
    color: #222222;
    padding-bottom: 26px;
  }
  .cart__text p {
    font-size: 14px;
    line-height: 16.8px;
    color: #575757;
    padding-bottom: 3px;
  }
  .cart__btn_clear {
    width: 175px;
    height: 33px;
    font-size: 12px;
    line-height: 14.4px;
    color: #575757;
    padding: 9px;
    text-align: center;
  }
  .cart__btn_cont {
    width: 175px;
    height: 33px;
    font-size: 12px;
    line-height: 14.4px;
    color: #575757;
    padding: 9px;
  }
  .bill {
    box-sizing: border-box;
    min-width: 320px;
    gap: 48px;
    align-items: center;
  }
  .bill__info {
    width: 320px;
  }
  .bill_btn {
    padding: 11px 20px;
  }
  .bill__total {
    width: 320px;
    margin-top: 39px;
  }
  .bill__total_btn {
    padding: 15px 20px;
  }
}/*# sourceMappingURL=styleCart.css.map */