$colorSpesial: #F16D7F;

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.lato-regular-italic {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: italic;
}
.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

summary {
  display: block;
}
summary::-webkit-details-marker {
  display: none;
}


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  scroll-behavior: smooth;
  background: #FFFFFF;
}
img{
  display: block;
  max-width: 100%;
  border: none;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header{
  background-color: #222222;
}
.top {
  overflow: hidden;
}

.heading{
  background-color: #F8F3F4;
  &__content{
    padding-bottom: 60px;
    padding-top: 60px;
    &_title h2{
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 24px;
      line-height: 28.8px;
      color: $colorSpesial;
    }
  }
}

.list{
  display: flex;
  gap: 128px;
  padding-top: 96px;
  padding-bottom: 128px;
  align-items: normal;
}
.cart {
  display: flex  ;
  flex-direction: column;
  width: 734px;
  position: relative;
  &__context{
    display: flex;
  }
  &__item{
    display: flex;
    margin-bottom: 40px;
    height: 306px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 17px 19px 24px 0px #00000021;
    justify-content: space-between;

    &_btn{
      position: relative;
      padding-top: 22px;
      padding-right: 22px;
    }
    &_btn:hover{
      fill: $colorSpesial;
    }
  }
  &__text{
    padding-top: 22px;
    background-color: #FFFFFF;
    padding-left: 31px;
    //padding-right: 57px;
    &_price{
      color: $colorSpesial;
    }
    &_box{
      display: flex;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      line-height: 26.4px;
      color: #575757;
      padding-bottom: 6px;

    }
    &_count{
      height: 25px;
      width: 44px;
      margin-left: 24px;
      border: 1px solid #EAEAEA;
      padding-left: 16px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 21.6px;
      color: #575757;
    }

  }
  &__text h3{
    width: 262px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28.8px;
    color: #222222;
    padding-bottom: 42px;
  }
  &__text p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 26.4px;
    color: #575757;
    padding-bottom: 6px;
  }
  &__btn {
    display: flex;
    justify-content: space-between;
    &_clear{
      border: 1px solid #A4A4A4;
      background-color: #FFFFFF;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 16.8px;
      color: #000000;
      padding: 17px 40px;
    }
    &_clear:hover{
      background-color: $colorSpesial;
      border: 1px solid $colorSpesial;
      color: #FFFFFF;
    }
    &_cont{
      border: 1px solid #A4A4A4;
      background-color: #FFFFFF;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 16.8px;
      color: #000000;
      padding: 17px 40px;
    }
    &_cont:hover{
      background-color: $colorSpesial;
      border: 1px solid $colorSpesial;
      color: #FFFFFF;
    }
  }
}
.bill{
  display: flex;
  gap: 57px;
  flex-direction: column;
  width: 360px;
  &__info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    &_inputExampl{
      height: 45px;
      border: 1px solid #A4A4A4;
      color: #B1B1B1;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 13px;
      line-height: 15.6px;
      padding-left: 17px;
    }
    &_inputExampl::placeholder{
      color: #B1B1B1;
    }
    &_input{
      height: 45px;
      border: 1px solid #A4A4A4;
      color: #B1B1B1;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 13px;
      line-height: 15.6px;
      padding-left: 17px;
    }
    &_input::placeholder{
      color: #222222;
    }
    &_btn{
      height: 35px;
      width: 102px;
      border: 1px solid #A4A4A4;
      color: #4A4A4A;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 11px;
      line-height: 13.2px;
      padding: 11px 14px;
      background-color: #FFFFFF;
    }
    &_btn:hover{
      background-color: $colorSpesial;
      border: 1px solid $colorSpesial;
      color: #FFFFFF;
    }
  }
  &__info h2{
    color: #222222;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19.2px;
  }

  &__total{
    background-color: #F5F3F3;
    padding-top: 39px;
    padding-bottom: 42px;
    &_price{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &_price-fnl{
      color: $colorSpesial;
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      line-height: 19.2px;
    }
    &_line{
      border: 1px solid #E2E2E2;
      margin-left: 43px;
      margin-right: 43px;
      margin-bottom: 17px;
    }
    &_btn{
      margin-left: 43px;
      margin-right: 43px;
      border: none;
      color: #FFFFFF;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 19.2px;
      padding: 15px 42px;
      background-color: $colorSpesial;
    }
    &_btn:hover{
      background-color: #FFFFFF;
      color: $colorSpesial;
    }
  }

  &__total_price h3{
    color: #4A4A4A;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    line-height: 13.2px;
    padding-bottom: 12px;
    padding-right: 34px;
  }
  &__total_price h2{
    color: #222222;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19.2px;
    padding-bottom: 21px;
    padding-right: 37px;
  }
}


@media(min-width: 768px) and (max-width: 1024px){
  .container{
    max-width: 734px;
  }

  .heading{
    &__content{
      padding-left: 16px;
    }
  }
  .list{
    display: flex;
    flex-direction: column;
    gap: 128px;
    padding-top: 59px;
    padding-bottom: 128px;
    align-items: normal;
  }
  .cart {
    width: 734px;
    position: unset;
    &__text{
      padding-right: 137px;
    }
    &__item_btn{
      position: unset;
    }

    &__btn {
      justify-content: center;
      gap: 48px;
      margin-top: 22px;
    }
  }
  .bill{
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: flex-start;

    width: 734px;
    &__info{
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 360px;
    }
    &__total{
      width: 360px;
      margin-top: 39px;
      &_btn{
        margin-left: 42px;
      }
    }

  }

}
@media(min-width: 320px) and (max-width: 767px){
  .container{
    max-width: 360px;
  }

  .heading{
    box-sizing: border-box;
    min-width: 320px;
    &__content{
      display: flex;
      justify-content: center;
    }
  }
  .list{
    box-sizing: border-box;
    gap: 48px;
    padding-top: 39px;
    padding-bottom: 96px;
    align-items: normal;
    flex-direction: column;
    min-width: 320px;
  }
  .cart {
    box-sizing: border-box;
    width: 320px;
   position: unset;
    &__item{
      box-sizing: border-box;
      width: 320px;
      margin-bottom: 30px;
      height: 188px;
      &_btn{
        padding-top: 17px;
        padding-right: 9px;
        position: unset;
        width: 10px;
        height: 10px;
      }
    }
    &__item img{
      height: 188px;
    }
    &__item svg{
      height: 10px;
      width: 10px;
    }
    &__text{
      padding-top: 13px;
      padding-left: 5px;
      padding-right: 5px;
      &_price{
        color: $colorSpesial;
      }
      &_box{
        font-size: 14px;
        line-height: 16.8px;
      }
      &_count{
        height: 15px;
        width: 25px;
        margin-left: 9px;
        padding-left: 15px;
        font-size: 10px;
        line-height: 12px;
        color: #656565;
      }
    }
    &__text h3{
      width: 144px;
      font-size: 16px;
      line-height: 19.2px;
      color: #222222;
      padding-bottom: 26px;
    }
    &__text p{
      font-size: 14px;
      line-height: 16.8px;
      color: #575757;
      padding-bottom: 3px;
    }
    &__btn {
      &_clear{
        width: 175px;
        height: 33px;
        font-size: 12px;
        line-height: 14.4px;
        color: #575757;
        padding: 9px;
        text-align: center;
      }
      &_cont{
        width: 175px;
        height: 33px;
        font-size: 12px;
        line-height: 14.4px;
        color: #575757;
        padding: 9px;
      }
    }
  }
  .bill{
    box-sizing: border-box;
    min-width: 320px;
    gap: 48px;
    align-items: center;
    &__info{
      width: 320px;
    }
    &_btn{
      padding: 11px 20px;
    }
    &__total{
      width: 320px;
      margin-top: 39px;
      &_btn{
        padding: 15px 20px;
      }
    }
  }

}

