.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: italic;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: #FFFFFF;
}

img {
  display: block;
  max-width: 100%;
  border: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #222222;
}

.top {
  overflow: hidden;
}

.heading {
  background-color: #F8F3F4;
}
.heading__content {
  padding-bottom: 60px;
  padding-top: 60px;
}
.heading__title h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 28.8px;
  color: #F16D7F;
}
.heading__nav {
  display: flex;
}
.heading__nav_link {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #636363;
  text-decoration: none;
}
.heading__box:last-of-type .heading__nav_link {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #F16D7F;
}
.heading__box:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #636363;
  text-decoration: none;
}

.filter-sort {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  position: relative;
  gap: 30px;
  padding-top: 38px;
  padding-bottom: 64px;
  box-sizing: border-box;
}

.filter {
  padding-top: 13px;
  position: relative;
  z-index: 10;
  width: 360px;
}
.filter__content {
  background-color: #FFFFFF;
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  position: absolute;
  width: 360px;
  box-sizing: border-box;
}
.filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__content {
  box-shadow: 6px 30px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__summary_text {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  font-family: "Lato", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__summary_text {
  font-family: "Lato", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #000000;
}
.filter__heading {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__item[open] .filter__heading {
  color: #F16D7F;
}
.filter__item {
  margin-top: 16px;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
}
.filter__summary_text:hover + svg {
  fill: #F16D7F;
  color: #F16D7F;
}
.filter__summary:hover svg, .filter__summary:hover span {
  fill: #F16D7F;
  color: #F16D7F;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 28px;
}
.sort__details {
  position: relative;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
}
.sort__heading {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  display: flex;
  gap: 10px;
  align-items: center;
}
.sort__box {
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1000;
}
.sort__heading:hover, .sort__summary:hover svg {
  fill: #F16D7F;
  color: #F16D7F;
}

.catalog {
  position: relative;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px 30px;
  padding-bottom: 48px;
}

.page {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 96px;
}
.page__list {
  border: 1px solid #EBEBEB;
  width: 284px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}
.page__number {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #5D5D5D;
  line-height: 19.2px;
}
.page__active {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #F16D7F;
  line-height: 19.2px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 736px;
  }
  .filter-sort {
    max-width: 736px;
    padding-top: 11px;
    padding-bottom: 40px;
    justify-content: space-between;
    gap: 0px;
  }
  .filter__summary {
    padding-left: 0px;
  }
  .cardList {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px 16px;
    padding-bottom: 40px;
  }
  .cardNone {
    display: none;
  }
  .page {
    max-width: 768px;
    padding-bottom: 63px;
  }
  .page__list svg {
    width: 8px;
    height: 14px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 360px;
  }
  .heading__content {
    padding-bottom: 46px;
    padding-top: 24px;
    gap: 32px;
    display: flex;
    flex-direction: column;
  }
  .filter-sort {
    max-width: 360px;
    justify-content: space-between;
    gap: 0px;
    padding-top: 11px;
    padding-bottom: 0px;
    box-sizing: border-box;
  }
  .filter {
    padding-top: 0px;
    width: 37.5px;
  }
  .filter__summary_text {
    display: none;
  }
  .filter__summary {
    padding-left: 0px;
    padding-top: 13px;
  }
  .filter[open] {
    width: 360px;
    position: absolute;
    padding-top: 0px;
  }
  .filter__summary svg {
    height: 25px;
    width: 37.5px;
  }
  .sort {
    padding-top: 13px;
    padding-bottom: 41px;
    gap: 24px;
    width: 262px;
  }
  .sort__heading {
    font-size: 12px;
    line-height: 14.4px;
    gap: 9px;
  }
  .cardList {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 16px;
    padding-bottom: 40px;
  }
  .card__text {
    padding: 24.28px 28.72px 19.94px 16.41px;
  }
  .page {
    max-width: 320px;
    padding-bottom: 64px;
  }
  .page__list {
    gap: 17px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
  }
  .page__list svg {
    width: 8px;
    height: 14px;
  }
  .page__number {
    font-weight: 400;
  }
  .page__active {
    font-weight: 400;
  }
}/*# sourceMappingURL=styleCat.css.map */